<!-- Strat Slider Area -->

<div class="slide__carosel owl-carousel owl-theme" style="height:500px;width:80%;margin-left:10%;">
{% for rs in sliderdata %}
    <div style ="background-image:url('{{ rs.image.url }}');height:500px;
	background-size:100% 100%;
	transition:.4s;
	">
		
        <div class="container" >
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="slider__activation">
                        <!-- Start Single Slide -->
                        <div class="slide">
                            <div class="slide__inner">
                                <h1>{{ rs.title }}</h1>
                                <div class="slider__text">
                                    <h2>{{ rs.keywords }}</h2>
                                </div>
                                <div class="slider__btn">
                                    <a class="dcare__btn" href="/urun/{{rs.id}}/{{rs.slug}}">Daha Fazla</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Slide -->
                    </div>
                </div>
            </div>
        </div>
    </div>
     {% endfor %}
</div>
<!-- End Slider Area -->